# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', delim_whitespace=True)

In [6]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [13]:
def year_replace(x):
    year = x.year
    month =x.month
    day = x.day
    if (year>2019):
        year = year-100
    
    new_date = str(year)+"-"+str(month)+"-"+str(day)
    new_date = pd.to_datetime(new_date, infer_datetime_format=True)
        #print (new_data)
    return new_data

In [14]:
data['Date']= data['Date'].apply(year_replace)

AttributeError: 'str' object has no attribute 'year'

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [15]:
data = data.set_index('Date')

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [ ]:
data.drop(['Yr' , 'Mo', 'Day']),axis = 1, inplace=True)

In [16]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
61-1-1,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
61-1-2,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
61-1-3,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
61-1-4,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
61-1-5,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 7. Compute how many non-missing values there are in total.

In [19]:
data.notnull().sum().sum()

98579

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [20]:
data.mean().mean()

14.299199599246556

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [24]:
min_windspeed = data.min(axis=0).min()
min_windspeed

0.0

In [25]:
max_windspeed = data.max(axis=0).max()
max_windspeed

78.0

In [26]:
aver_windspeed = data.mean(axis=0).mean()
aver_windspeed

14.299199599246556

In [27]:
std_windspeed = data.std(axis=0).std()
std_windspeed

1.3355623890346966

In [ ]:
loc_stats = pd.series(data = loc_stats)

In [ ]:
loc_stats = pd.dataframe()

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [ ]:
loc_stats = data.copy()

In [23]:
loc_stats[min] = data.min(axis=1)
loc_stats[min] = data.min(axis=1)
loc_stats[min] = data.min(axis=1)
loc_stats[min] = data.min(axis=1)

NameError: name 'loc_stats' is not defined

In [ ]:
loc_stats.head()

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [29]:
data[data.index.Month==1].mean()

AttributeError: 'Index' object has no attribute 'Month'

### Step 12. Downsample the record to a yearly frequency for each location.

In [ ]:
data.resample['Y'].mean()

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [30]:
weekly_data = data.resample('W').agg(['min','max','mean','std'])

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'